# NODE CONFIG
PORT=5000   
NODE_ENV=development

CLIENT_URL=http://localhost:3000

# CORS
CORS_ORIGIN=http://localhost:3000

# DB
MONGO_URI=mongodb+srv://okiljondadakhonov_db_user:proeYC7NDVyZyoOM@cluster0.hftxiiu.mongodb.net/qopchiq?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysecretkey

# SMTP
SMTP_PASS=wwwc fjak oopo tkzr
SMTP_USER=ulugbekjonsultonov4@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# SENDER_INFO
SENDER_EMAIL=ulugbekjonsultonov4@gmail.com
SENDER_NAME=qopchiq.uz

# e-mail Verification policy
VERIFICATION_TTL_MINUTES=1
VERIFICATION_RESEND_COOLDOWN_SECONDS=60
VERIFICATION_DAILY_RESEND_LIMIT=5

# APPWRITE
APPWRITE_PROJECT_ID="68e6615b003b13f34e5c"
APPWRITE_PROJECT_NAME="qopchiq"
APPWRITE_ENDPOINT="https://fra.cloud.appwrite.io/v1"
APPWRITE_API_KEY=standard_da8af33153db0b190a6f1401c0e964f6cdeb78777f38b7105c2a32daf61f9a084bf148da40cde0f900e6dc5a398ad5746f721d9738293134333627a362a4a6d08ed32a1a22085190ef21e474e1c41316b657b7ba06cd1287c917a430822fc2f658910eeea5ef8df0b4cb1209f575360a84bef7d98c3bb2c4244eb18d29762579
APPWRITE_BUCKET_ID=68e661d9002531807248